<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMSuite" parallel="methods" thread-count="5" >
<listeners>
    <listener class-name="com.orangehrm.listeners.TestListner"/>
</listeners>
<test name="OrangeHRMTest">
<classes>
<class name="com.orangehrm.test.DummyTest"></class>
<class name="com.orangehrm.test.LoginTest"></class>
<class name="com.orangehrm.test.HomeTest"></class>
</classes>
</test>
</suite>


